<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <h1><%= recipe.title %></h1>
    <p>Time: <%= recipe.time %> minutes</p>
    <p>Difficulty: <%= recipe.difficulty %></p>
    <h2>Ingredients:</h2>
    <p><%= recipe.ingredients %></p>
    <h2>Instructions:</h2>
    <p><%= recipe.instructions %></p>
    <div class="buttons">
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>  
        <form action="/recipes/<%= recipe.id %>/edit"" method="GET">
            <button type="submit">Edit Recipe</button>
        </form> 
    </div>
 </body>   
    <a href="/">go back</a>

</html>
